.popup-custom {
  border-radius: 15px !important;
}

.confButton-custom {
  border-radius: 50px !important;
  background-color: #013877bf !important;
  font-weight: bold !important;
}

.confButton-custom:focus {
  box-shadow: none !important;
}

.confButton-custom:hover {
  background-color: #334c70 !important;
}

.header-content {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #003c94;
  height: 10vh;
  padding: 10px;
  box-shadow: 0px 3px 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#start-date{
  font-family: inherit;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin: 0px;
  box-shadow: none;
}

#end-date{
  font-family: inherit;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin: 0px;
  box-shadow: none;
}

.contdeFechas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2.5rem;
}

#destino {
  border: none;
  margin: 0;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
}

#destino:focus {
  border: none;
  box-shadow: none;
}

.localidad {
  display: flex;
  margin: 0 10px 2rem 10px;
  align-items: center;
  height: 3.2rem;
  border-radius: 10px;
  background-color: rgb(255 255 255 / 75%);
  box-shadow: 0px 4px 5px 0px #b2b2b2, inset 0 0px 3px 0px #7b7b7b;
  width: 220px;
}

.date-pickerINI1 {
  display: flex;
  margin: 0 10px 2rem 10px;
  align-items: center;
  height: 3.2rem;
  border-radius: 10px;
  background-color: rgb(255 255 255 / 75%);
  box-shadow: 0px 4px 5px 0px #b2b2b2, inset 0 0px 3px 0px #7b7b7b;
}

.botbusquedaFec {
  background-color: #0a793a;
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  margin: 0 10px 2rem 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  transition: all 200ms;
}

.botbusquedaFec:hover{
  scale: 1.03;
  background-color: rgb(43, 143, 87);
  box-shadow: 0px 0px 10px;
}

body.bodyinicio {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    /* background-image: url(http://localhost:3000/static/media/fondoop1.cc88423….jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

:root {
  --margendeArriba: 130px auto;
}

.containerIni {
  margin: 2vh auto;
  padding: 10px;
  max-height: 70vh; /* Ajusta este valor segun haga falta */
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  width: 600px;
}

.containerIni::-webkit-scrollbar {
  display: none; /* Ocultar la barra de desplazamiento*/
}

.admin-button-container{
  display: flex;
  margin-right: 15px;
}

.cuenta-button-container{
  display: flex;
  margin-right: 15px;
}

.admin-button {
  display: flex;
  background-color: white;
  color: #006ce4;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  transition: all 200ms;
}

.cuenta-button {
  display: flex;
  background-color: rgb(255, 255, 255);
  color: #006ce4;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  transition: all 200ms;
}

.admin-button:hover, .cuenta-button:hover {
  scale: 1.03;
  background-color: rgb(222, 222, 222);
}

.admin-button:focus, .cuenta-button:focus{
  background-color: rgb(255, 255, 255);
}


.hotels-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  justify-items: left;
}

.hotel-card {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #ffffffdb;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 5px 0px #b2b2b2;
  transition-property: scale;
    transition-duration: 100ms;
}

.hotel-image {
  max-width: 220px;
  /* max-height: 120px; */
  margin-right: 20px;
  border-radius: 10px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.hotel-info {
  flex-grow: 1; /* Permite que el contenido se expanda y ocupe todo el espacio disponible */
}

.hotel-card h4 {
  font-size: 2.28rem;
  line-height: 110%;
  font-weight: bold;
  color: #7b7b7b;
  margin: 0;
}

.hotel-card p {
  margin: 0;
}

.hotel-card button {
  background-color: #006ce4bf;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 10px;
    font-weight: 600;
    transition: all 200ms;
}


.hotel-card button:hover {
  background-color: rgba(2, 84, 178, 0.749);
  scale: 1.03;
}

.fecha {
  display: block;
  margin-bottom: 0px;
  padding: 10px;
  text-align: center;
}

.hotel-card:hover {
  scale: 1.015;
}

.textAlert {
  text-align: justify;
}