.Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

.SignInForm {
    position: relative;
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px
}
