.reservations-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./imagenes/fondoop1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.reservations-container1 h4{
  font-size: 2.28rem;
  line-height: 110%;
  margin: 4vh 0 1vh 0;
  FONT-FAMILY: sans-serif;
  font-weight: bold;
  color: #7b7b7b;
  padding: 10px 15px;
  background: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0px 4px 5px 0px #7d7d7d, inset 0 0 5px 0 #7b7b7b;
}

.reservations-container2 {
  background-color: #f9f9f9;
  max-width: 1100px;
  max-height: 90vh;
  padding: 20px;
  display: flex;
  border-radius: 20px;
  margin: 1vh 4vh 4vh 4vh;
  overflow: scroll;
  overflow-x: hidden;
  min-width: 350px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 5px 0px #8b8b8b, inset 0 0 10px 0 #7d7d7d;
}

.reservations-container2::-webkit-scrollbar-track {
  background-color: transparent; /*color de la barra de fondo*/
}
.reservations-container2::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0); /*color del manejador*/
}
.reservations-container2::-webkit-scrollbar {
  width: 8px; /*ancho del scroll vertical*/
}

.reservations-container2 p {
  margin: 10px 0;
}
  
:root {
  --margendeArriba: 130px auto;
}

.containerIni {
  margin: 2vh auto;
  padding: 10px;
  max-height: 70vh; /* Ajusta este valor según sea necesario */
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  width: 600px;
}

.containerIni::-webkit-scrollbar {
  display: none; /* Ocultar la barra de desplazamiento */
}

.reserva-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  justify-items: left;
}

.reserva-card {
  display: flex;
  align-items: center;
  width: 900px;
  text-align: left;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 20px; /* Agrega un margen inferior para separar las reservas */
}

.hotel-image {
  max-width: 220px;
  /* max-height: 120px; */
  margin-right: 20px;
  border-radius: 10px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.reserva-info {
  flex-grow: 1; /* Permite que el contenido se expanda y ocupe todo el espacio disponible */
}

.cliente-info {
  margin-left: 20px;
}

.fechas-info {
  margin-left: 20px;
}

.reserva-card h4,
.reserva-card p {
  margin: 0;
}

.reserva-card p {
  color: gray;
  margin-top: 5px; /* Ajusta el margen superior según sea necesario */
}
  